################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/test/FileContentIndex/61fdde92-2d9e-4c16-95d9-b403b227b391.vsidx
/.vs/test/v17
/prueba/.vs/prueba/FileContentIndex

 
# Archivos y carpetas generados por Visual Studio 

.vs/
/bin/
/obj/
/TestResults/
[Bb]in/
[Oo]bj/
*.user
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
[Tt]est[Rr]esult*/
[Tt]est[Rr]esults*/
*.pidb
*.pdb
*.opendb
*.VC.db
*.VC.VC.opendb 

# Archivos de configuración específicos de Visual Studio 

[Tt]humbs.db
*.DS_Store
*.dotCover
*.dotCover.usage
*.resharper
*.resharper.user
_ReSharper*/
*.rptproj.user
*.sln.docstates
*.userprefs 

# Archivos de registro y salidas de depuración 

*.log
*.logs
*.dbmdl
*.dbproj.log
*.dbproj.schemaview
*.debug.*
*.publish.xml
*.pubxml
*.pubxml.user
*.sqlplan
*.bak
*.cache
*.vspx 

# Carpeta de paquetes NuGet 

packages/ 

# Archivos y carpetas de pruebas 

TestResults/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.testsettings 

# Exclusiones adicionales 

.vs/wsTryTiendas/v17/.suo
.vs/
../.vs/ 