################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/test/FileContentIndex/61fdde92-2d9e-4c16-95d9-b403b227b391.vsidx
/.vs/test/v17
/prueba/.vs/prueba/FileContentIndex
