@{
    ViewData["Title"] = "Home Page";
}

<div>
    <form action="javascript:iniciar();">
        <label for="document">Documento de usuario</label>
        <input placeholder="documento" type="text" id="document" name="document" maxlength="16"/>
        <label for="document">Contraseña</label>
        <input placeholder="Contraseña" type="password" id="pwd" name="pwd"/>
        <button type="submit">Ingresar</button>
        <button id="register" formaction="/Home/Register"></button>
    </form>
</div>